img.logo {
    height: 32px
}

.owl-carousel {
    margin-bottom: 20px;
    margin-top: 20px;
}

img#main {
    margin: 20px 20px;
    width: 80%;
    align: center
}

#inner ul.logo {
    display: inline-block;
    padding: 3px 3px;
    list-style-type: none
}

.carousel {
    height: 100px;
}

img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px
}

img.maabCarouselImg, li.maabCarouselImg {
  width: auto;
  height: 100px;
  max-height: 100px;
}

#data-search fieldset {
  margin: 0 0 10px 0;
}
#data-search label {
  display: block;
  font-weight: bold;
  line-height: 1.4;
  color: #666;
  color: rgba(0, 0, 0, 0.6);
  text-shadow: 0 1px 1px #fff;
}

